body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.konteineris {
    display: inline-block;
    width: 800px; 
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
}
.konteineris:first-child {
    margin-top: 50px;
}
.logo {
    width: 200px;
    height: 50px;
    object-fit: contain;
    object-position: left;
    float: left;
}
.top-menu {
    float: right;
    margin-top: 15px;
}
.link {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}
.link:first-child {
    margin-left: 0;
}
.link:hover {
    text-decoration: underline;
}
.left-col {
    width: 40%;
    display: block;
    float: left;
}
.antraste {
    color: #662c8c;
    font-size: 50px;
    font-weight: normal;
    display: block;
}
.antraste::after {
    content: '';
    width: 100px;
    height: 6px;
    background-color: #662c8c;
    display: block;
}
.boldas-blokas {
    font-weight: bold;
    display: block;
}
.kair-tekstas {
    font-size: 18px;
}
.main-img { 
    width: 55%;
    display: block;
    float: right;
}
.mygtukas {
    color: #fff;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #554485;
    display: inline-block;
    text-decoration: none;
    border-radius: 1.55em;
    border: 5px solid #554485;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.33);    
}
.mygtukas:hover {
    background-color: rosybrown;
    box-shadow: none;    
}
.mygtukas:last-child {
    background-color: #fff;
    color: #000;
}
.mygtukas:last-child:hover {
    background-color: rosybrown;
} 
.social {
    display: block;
    float: left;
} 
.copyright {
    display: block;
    float: right;
    margin: 0;
}
.ikonos {
    font-size: 20px;
    text-decoration: none;
    margin-right: 1em;
}