body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header, main, footer {
    display: inline-block;
    width: 800px; 
    margin-left: calc(50% - 400px);
    margin-bottom: 30px;
}
header {
    margin-top: 50px;
}
header > img {
    width: 200px;
    height: 50px;
    object-fit: contain;
    object-position: left;
    float: left;
}
nav {
    float: right;
    margin-top: 15px;
}
nav > a {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    margin-left: 30px;
}
nav > a:first-child {
    margin-left: 0;
}
nav > a:hover {
    text-decoration: underline;
}
main {

}
div {
    width: 40%;
    display: block;
    float: left;
}
h1 {
    color: #222222;
    font-size: 50px;
    font-weight: normal;
    display: block;
}
span {
    font-weight: bold;
    display: block;
}
p {

}
main > img { 
    width: 55%;
    display: block;
    float: right;
}
main > div > a {
    color: #fff;
    padding: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #554485;
    display: inline-block;
    text-decoration: none;
    border-radius: 1.55em;
    border: 5px solid #554485;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.33);    
}
main> div > a:hover {
    background-color: rosybrown;
    box-shadow: none;    
}
div > a:last-child {
    background-color: #fff;
    color: #000;
}
div > a:last-child:hover {
    background-color: rosybrown;
} 
footer {
}
footer > div {
    display: block;
    float: left;
} 
footer > p {
    display: block;
    float: right;
    margin: 0;
}